{% extends "base.html" %}
{% block content %}
<h3 style="margin-left:40%;">MOVEMENTS</h3>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>From</th>
        <th>Quantity</th>
        <th>To</th>
        <th>Quantity</th>
        <th>P.U</th>
      </tr>
    </thead>
    <tbody>
    {% for i in Record %}
            <tr>
              <td>{{i.date}}</td>
              <td>{{i.time}}</td>
              <td>{{i.amount_from_real}}</td>
              <td>{{i.currency_from_text}}</td>
              <td>{{i.moneda_to}}</td>
              <td>{{i.amount_to}}</td>
              <td>{{i.pu}}</td>
            </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}